@tailwind base;
@tailwind components;
@tailwind utilities;

body.dark {
  --bg: hsl(230, 17%, 14%);
  --bg-top: hsl(232, 19%, 15%);
  --bg-card: hsl(228, 28%, 20%);
  --text: hsl(228, 34%, 66%);
  --text-secondary: hsl(0, 0%, 100%);
}

body.light {
  --bg: hsl(0, 0%, 100%);
  --bg-top: hsl(225, 100%, 98%);
  --bg-card: hsl(227, 47%, 96%);
  --text: hsl(228, 12%, 44%);
  --text-secondary: hsl(230, 17%, 14%);
}

body {
  @apply bg-[var(--bg)] text-[var(--text)] font-sans;
}

.bg-facebook-500 {
  @apply bg-blue-600;
}

.bg-twitter-500 {
  @apply bg-blue-400;
}

.bg-youtube-500 {
  @apply bg-red-600;
}
